{% extends "layout.jinja2" %}

{% block content %}

<div class="container table-responsive">

    <div ng-show="userDetail || isAddUser">
        <form>
            <div class="form-group">
                <label>Username:</label>
                <p ng-if="!isAddUser" ng-bind="userDetail.username"></p>
                <input ng-if="isAddUser" type="text" class="form-control" ng-model="userDetail.username">
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" ng-model="userDetail.password">
            </div>
            <div class="form-group">
                <label>Fullname:</label>
                <input type="text" class="form-control" ng-model="userDetail.fullname">
            </div>
            <div class="form-group">
                <label>Age:</label>
                <input type="text" class="form-control" ng-model="userDetail.age">
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" ng-model="userDetail.sex" value="M"/>
                    Male
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="userDetail.sex" value="F">
                    Female
                </label>
            </div>
            <button type="button" class="btn btn-primary" ng-click="updateUser()" ng-if="!isAddUser">Update</button>
            <button type="button" class="btn btn-success" ng-click="create()" ng-if="isAddUser">Create</button>
            <a href="/" class="btn btn-danger" role="button">Cancel</a>
        </form>
    </div>

    <button ng-click="userDetail.username = ''; isAddUser = true; userDetail.sex='M'" class="btn btn-success">Add user</button>
    <table id="data" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>User name</th>
            <th>Full name</th>
            <th>Age</th>
            <th>Sex</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | orderBy:'username'">
            <td ng-bind="user.username"></td>
            <td ng-bind="user.fullname"></td>
            <td ng-bind="user.age"></td>
            <td ng-bind="user.sex"></td>
            <td>
                <button ng-click="getUserDetail(user)" class="btn btn-primary" ng-disabled="isAddUser">Edit</button>
                <button name="action" class="btn btn-danger" ng-click="deleteUser($index)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock content %}
