{% extends "layout.jinja2" %}

{% block content %}
    <form>
        Username: <input class="form-control" type="text" ng-model="username" />
        Password: <input class="form-control" type="password" ng-model="password" />
        Fullname: <input class="form-control" type="text" ng-model="fullname" />
        Age: <input class="form-control" type="text" ng-model="age" />
    </form>
{% endblock content %}